@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --color-ree-green: #006837;
  --color-ree-light: #39B54A;
  --color-ree-gray: #1F2937;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased;
}

::selection {
  @apply bg-ree-green/20 text-ree-green;
}